@import '../../../sass/global';

.requests-received {
  .collection {
    margin: 0;

    .collection-item {
      .primary-content {
        width: calc(100% - 75px);
        float: left;
      }

      .secondary-content {
        width: 75px;
        text-align: right;
        float: right;
      }
    }
  }
}