@import '../../../sass/global';

.requests-received {
  .collection {
    margin: 0;
    border-top: none;
    border-left: none;
    border-right: none;

    .collection-header {
      background-color: $secondary-color!important;
      color: #fff;
      font-size: 18px;
      border-bottom: none!important;

      i {
        position: absolute;
        top: 12px;
        right: 18px;
        cursor: pointer;
      }
    }

    .collection-item {
      color: $dark-text;
      padding-left: 20px!important;

      .primary-content {
        width: calc(100% - 75px);
        float: left;
      }

      .secondary-content {
        width: 75px;
        text-align: right;
        float: right;
      }
    }
  }
}

.dark-theme {
  .requests-received {
    .collection {

      border-color: $dark-border-color;

      .collection-header {
        border-color: $dark-border-color;
      }

      .collection-item {
        color: $light-text;
        border-color: $dark-border-color;
      }
    }
  }
}