@import '../../../sass/global';

.collection-header {
  color: #fff;
  font-size: 18px;
  background-color: $secondary-color!important;
  border-bottom: none!important;

  .tooltip {
    cursor: pointer;
    float: right;
    position: relative;
    top: 2px;
  }

  .tooltip.left-tooltip {
    float: left;
    margin-right: 7px!important;
  }
}

.dark-theme {
  .collection-header {
    border-color: $dark-border-color;
  }
}

.material-tooltip {
  line-height: 1.3;
}