$dark-text: #212121; //grey darken-4
$light-text: #dad8de;
$sub-light-text: #bdbdbd; //grey lighten-2
$hover-text-color: #fff;


$dark-background: #19171c;

$secondary-color: #0091ea; //light-blue accent-4

$dark-border-color: hsla(0,0%,100%,.05);