@import '../../sass/global';

.video-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover {
    .logo-container {
      opacity: 0.5;
    }
  }

  .logo-container {
    position: absolute;
    right: 30px;
    bottom: 100px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }

  .close {
    position: absolute;
    right: 330px;
    top: 107px;
    cursor: pointer;
    color: #ececec;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }

  .panel-container {
    position: absolute;
    right: 0;
    top: 100px;
    bottom: 70px;
    width: 320px;
    overflow-y: auto;

    .wrapper {
      max-height: calc(100vh - 200px);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      .panel {
        position: static;

        .no-border {
          border-bottom: none !important;
        }
      }
    }
  }
}

.dark-theme {
  .video-component {

  }
}