@import '../../../sass/global';

.requests-form {
  margin: 8px;

  .active {
    .collapsible-header {
      background-color: $secondary-color;
      color: $light-text;
      border-color: $secondary-color;
    }
  }

  .collapsible-header {
    &:hover {
      background-color: $secondary-color;
      color: $light-text;
      border-color: $secondary-color;
    }
  }

  .collapsible-body {
    .request-form {
      width: calc(100% - 5rem);
    }

    .delete-request {
      margin: 4.8rem 0 0 1.3rem;
    }

    .disable-switch {
      margin-bottom: 45px;

      .label {
        margin-right: 15px;
      }
    }
  }
}

.dark-theme {
  .requests-form {

    .collapsible {
      border-color: $dark-border-color;

      .collapsible-header {
        border-color: $dark-border-color;
      }

      .collapsible-body {
        border-color: $dark-border-color;
      }
    }

    .request-form {
      input, textarea {
        color: $light-text;
      }

      label {
        color: $sub-light-text;
      }
    }
  }

  .notification-box, .notifications {
    input, textarea {
      color: $light-text;
    }

    label {
      color: $sub-light-text;
    }
  }
}
